/* 
   Title: A/V Script Format v02
   Author: Mark Boszko
   Description: Displays Markdown files as side-by-side A/V Script format, with visuals
   on the left, and audio/narration on the right. Unordered lists are interpreted as
   visuals, regular paragraphs are audio/narration. Refinements to come.
   -----
   This document was made for use with BBEdit <http://www.barebones.com/products/bbedit/>
   or Marked.app <http://markedapp.com> as a CSS theme for Markdown previews. It may have
   other uses. Use at your own peril. Viewer discretion is advised.
*/

body
{
    -webkit-font-smoothing:antialiased;
	font-style: normal;
	margin:0;
	font-family: "Proxima Nova Alt", "Proxima Nova", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

html>body
{
    font-size:13px
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
	margin-bottom: 2em;
}



/* @group AV Format */

ul {
	width: 45%;
	float: left;
	background-color: #f0f0f0;
	clear: both;
	padding: 1em;
	list-style-type: none;
}

p {
	width: 45%;
	float: right;
	margin-bottom: 0;
	margin-top: 1em;
	font-family: "Courier Prime", Courier, "Courier New", mono;
	padding: .7em 1em 1em;
	border-top: 1px solid #ccc;
}

ul li + li {
	margin-top: 10px;
}

ul + ul {
	clear: left;
}

p + p {
	clear: right;
	border-top: none;
	margin-top: 0;
}

@media print
{
	ul, li, p {
		page-break-inside: avoid;
	}
}
/* @end */